{% extends 'layouts/base.html.twig' %}

{% block title 'Vendez & Achetez beaucoup plus librement!' %}


{% block body %}    
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            IMMOBILIER
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':27}) }}">Immobiler</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':1}) }}">Appartement à louer</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':2}) }}">Appartement meublés</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':3}) }}">Terrains à vendre </a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':4}) }}">Maison à louer</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':5}) }}">Maison à vendre</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            ELECTRONIQUES
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':28}) }}">Electroniques</a></li>
                             <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':6}) }}">Téléphones</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':7}) }}">Appareils photos</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':8}) }}">Ordinateurs & Tablettes</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':9}) }}">Son et Vision(Tv)</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':10}) }}">Accessoires Multimedia</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':11}) }}">Consoles & Jeux videos</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            VETEMENTS
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':29}) }}">Vêtements</a></li>
                             <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':12}) }}">Vêtements de femme</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':13}) }}">Chaussures de femme</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':14}) }}">Foulards</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':15}) }}">Sacs à mains</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':16}) }}">Sacs à dos</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':17}) }}">Vêtements d'homme</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':18}) }}">Chaussures d'homme</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':19}) }}">Autres</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            BEAUTE
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':30}) }}">Beaute</a>
                            </li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':20}) }}">Parfums & Produits Cosmetiques</a>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':21}) }}">Cheveux naturels & greffages</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':22}) }}">Montres & Bijoux</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            SPORTS
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':31}) }}">Sport</a></li>
                             <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':23}) }}">Materiels de sport</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':24}) }}">Tenues de sport</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            SERVICES
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':32}) }}">Services</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':25}) }}">Cours particuliers</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':26}) }}">Formations</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            ALIMENTATION
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':33}) }}">Alimentation</a></li>
                        </ul>
                    </li>
                        <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            VOITURES
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':36}) }}">Voitures</a></li>
                            <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':34}) }}">Vente de voitures</a></li>
                             <li><a class="text-decoration-none" href="{{ path('app_acheter',{'id':35}) }}">Location de voitures</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="{{ path('app_acheter',{'id':100}) }}">All</a>
                            </li>
                            

                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            {{form_start(form)}}
                                <div class="row ">
                                    <div class="col-10">
                                         {{form_row(form.mots)}}
                                    </div>
                                    <div class="col-2">
                                         <button type="submit" class="input-group-text bg-success text-light">
                                             <i class="fa fa-fw fa-search text-white"></i>
                                        </button>
                                    </div> 
                                </div> 
                            {{form_end(form)}}
                        </div>
                    </div>
                </div>
                {% if articles|length>0 %}
                <div class="row">
                    {% for article in articles %}
                        <div class="col-md-6 pb-4">
                            <div class="card h-100 mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <div class="mw-100 rounded-top overflow-hidden">
                                         <img src="{{asset('/uploads/articles/'~article.imageArticles[0].imageName) | imagine_filter('squared_thumbnail_medium')}}" alt="{{article.nomArticle}}" class="w-100 rounded-top" id="product-detail">
                                   </div>
                                    <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">

                                            <li><a class="btn btn-success text-white" href="https://api.whatsapp.com/send?phone={{article.user.phone}}&text=Je suis intéressé par votre annonce {{article.nomArticle}} du {{article.createdAt|date('d-m-y')}} sur le site ladiastore"><i class="fab fa-whatsapp"></i></a></li>
                                           
                                            <li><a class="btn btn-success text-white mt-2" href="{{ path('app_article_details', {'id':article.id}) }}"><i class="far fa-eye"></i></a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="{{ path('app_article_details', {'id':article.id}) }}" class="h3 text-decoration-none">{{article.nomArticle}} </a>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                        <li><h6>Le {{article.createdAt|date('d-m-y')}} par
                                        {% if article.user.store %} {{article.user.store.nomStore}}
                                        {% else %}
                                            {{article.user.firstName}} {{article.user.lastName}}
                                        {% endif %}</h6> </li>
                                        <li class="pt-2">
                                            <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                            <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                                        <li>
                                            {% for i in 1..5 %}
                                            <i class="fa fa-star 
                                                {%if loop.index <= article.etoiles %} 
                                                    text-warning
                                                    else  text-secondary {% endif %}"> 
                                            </i>
                                        {% endfor %}
                                        </li>
                                    </ul>
                                    <p class="text-center mb-0">{{article.price}} </p>
                                    <div class="d-flex justify-content-center mb-1 text-info">
                                        <h6><i class="fas fa-map-marker-alt fa-fw"></i>Lieu de vente</span> {{ article.lieuVente}}</h6> 
                                        
                                    </div>
                                     {% if app.user %}
                                            <div class="text-center ">
                                             <a href="{{path('app_aime_article',{'id':article.id})}} " class="js-like btn btn-link text-danger" style="text-decoration: none;">
                                                {% if article.isLikedByUser(app.user) %}
                                                    <i class="fas fa-heart"></i>
                                                {% else %}
                                                    <i class="far fa-heart"></i>
                                                {% endif %}
                                                    <span class="js-likes">{{article.likes | length}} </span>
                                                    <span class="js-label">J'aime</span>
                                            </a>
                                            </div>
                                        {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        <p class="text-center h1 mt-4">Sorry, Pas d'annonces de ce type pour l'instant. <a href="{{ path('app_login') }}">Soyez le premier !</a> </p>
                    {% endif %}

                <div class="navigation">
                </div>
     

                </div>
                <div class="d-flex justify-content-center mt-5">
                    {% do articles.setPageRange(2) %}
                    {{knp_pagination_render(articles,'layouts/partials/_pagination.html.twig')}}
                    
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <!--section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Nos partenaires</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
               
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_05.png')|imagine_filter('squared_thumbnail_brand')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_02.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_06.png')|imagine_filter('squared_thumbnail_brand')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_04.png')}}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_01.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_02.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_03.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img"src="{{asset('assets/img/brand_04.png')}}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_01.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_02.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_03.png')}}" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href=""><img class="img-fluid brand-img" src="{{asset('assets/img/brand_04.png')}}" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section-->
    <!--End Brands-->
    {% block javascript%}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('assets/js/like/app.js') }}"></script>
{% endblock %}
{% endblock %}
