{% extends 'base.html.twig' %}

{% block title carousel.title %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<article class="pin bg-white rounded shadow">
                           <div class="mw-100 rounded-top overflow-hidden">
                                
                                <img src="{{ (carousel.imageName ? vich_uploader_asset(carousel) : asset('images/placeholder.jpg')) | imagine_filter('squared_thumbnail_small')}}" alt="{{ carousel.title }}" class="w-100">
                           </div>
                            
                            <h1 class="h5 pl-3 pt-3 text-secondary">{{ carousel.title }}</h1>
                             <p class="pl-3 pb-3 text-muted">
                             	<smal>
                             		<time datetime="{{ carousel.createdAt|date('Y-m-d H:i:s') }}">{{ carousel.createdAt|ago }} 
									</time>                         
								</small> 
                             </p>
                             <p class="pl-3 pr-3 pb-3 text-break">
                             	{{ carousel.description }}
                             </p>
                             <div class="pl-3 pb-3">
                             	<a href="{{ path('app_carousel_edit',{'id':carousel.id}) }}" class="btn btn-light">Editer</a>
								<a class="btn btn-light" href="#" onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-pin-delete-form').submit();">Supprimer</a>
								<form id="js-pin-delete-form" action="{{ path('app_carousel_delete',{'id':carousel.id}) }}" method="post" style="display: none;">
									<input type="hidden" name="csrf_token" value="{{ csrf_token('pin_delete_'~carousel.id) }}">
									<input type="hidden" name="_method" value="DELETE">
								</form>
                             </div>

             </article>
				
			
		</div>
	</div>
	
{% endblock %}