{% extends 'compte_user/user_layouts/base.html.twig' %}

{% block title %}Ladiastore Vendez & Achetez !{% endblock %}

{% block body %}
    

     {{ include('compte_user/user_layouts/partials/_sidebar.html.twig') }}
     <div class="col-6 mx-auto">

           <div class="mw-100 rounded-top overflow-hidden">
               <div class="text-center">
                   <img src="{{(user.imageName ? vich_uploader_asset(user): asset('images/gravatar.png'))|imagine_filter('squared_thumbnail_small')}} " alt="{{ user.firstName }}" class="rounded-circle shadow">
               </div>                             
            <div class="text-center mt-5 text-muted">
                {{user.email}}
            </div>
            <div class="text-center mt-3">
                <h3>{{user.firstName}} {{user.lastName}} </h3>
            </div>

            <div class="row">
                <div class="col-6">
                    <i class="fas fa-phone"></i> Numéro de téléphone
                <p>{{user.phone}}</p>
                </div>
                <div class="col-6"><i class="fas fa-calendar"></i> Date de creation du compte
                    <p> {{user.createdAt|date('d/m/Y')}} </p>
                </div>
                
            </div>
            <div class="line"></div>
            <div class="row">
                <div class="col-6">
                    <i class="fas fa-store"></i> Store
                    <p>{% if store %} {{store.nomStore}}</br> {{store.description}} {% else %} non <i class="fas fa-ban"></i> {% endif %}  </p>
                </div>
                <div class="col-6">
                     <i class="fas fa-map-marker-alt fa-fw"></i>Adreese
                     <p> {{user.adresse}} </p>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="{{path('app_user_edit')}}" class="btn btn-light">Modifier mon profil</a>
            </div>
            
        </div>
    </div>
    </div>

{% endblock %}