{% extends 'compte_user/user_layouts/base.html.twig' %}


{% block title 'Creer un store' %}


{% block body %}
	{{ include('compte_user/user_layouts/partials/_sidebar.html.twig') }}
	<h1 class="text-center display-4">Editer mon <span class="text-success">Store</span></h1>
	<div class="text-center mt-3">
		<p>
         Reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</br>
         Excepteur sint occaecat cupidatat non proident.
     </p>
	</div>
	<div class="row">
		<div class="col-6 mx-auto m-5">
			{{ form_start(form)}}
				{{form_row(form.domaine)}}
				{{form_row(form.nomStore)}}
				{{form_row(form.description)}}
				{{form_row(form.adresseStore)}}
				{{form_row(form.imageFile)}}
				<input class="btn btn-success btn-block mt-5" type="submit" value="Mettez à jour" formnovalidate >

			{{ form_end(form) }}
			
		</div>
	</div>
{% endblock %}