 {% extends 'compte_user/user_layouts/base.html.twig' %}


{% block title 'Article' %}

{% block body %}
	    <!-- Open Content -->
         <h3 class="text-center text-muted mt-3">Ladiastore Vendez & Achetez beaucoup plus librement !</h3>
{{ form_start(form)}}
     <!-- Open Content -->
    <section class="bg-light">
     <div class="container pb-5">
        <div class="row"> 
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <div>
                        {% if img!=null %}
                            <img class="card-img img-fluid" src="{{asset('/uploads/articles/'~img.imageName)}}" alt="Card image cap" id="product-detail">
                            {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                            <a class="btn btn-light" href="{{ path('app_delete_image', {'id' : img.id})}}" data-delete data-token="{{ csrf_token('delete'~img.id)}}">Supprimer</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">  
                <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">
                            <div class="carousel-item active">
                                <div class="row">
                                    {% for image in article.imageArticles %}
                                        {% if loop.index >=2 %}
                                            <div class="col-4">
                                                <div>
                                                    <img class="card-img img-fluid" src="{{image.imageName ? asset('/uploads/articles/'~image.imageName) : asset('images/placeholder.jpg')}}" alt="Card image cap" id="product-detail">
                                                    <a class="btn btn-light" href="{{ path('app_delete_image', {'id' : image.id})}}" data-delete data-token="{{ csrf_token('delete'~image.id)}}">Supprimer</a>
                                                </div>
                                            </div>
                                        {% endif %}
                                        
                                    {% endfor %}
                                    {% if taille<4 %}
                                          <div class="col-4">
                                                <div>
                                                     <a id="lienImage" href="#" onclick="event.preventDefault();document.getElementById('form_image_1').click();" class="btn btn-light">
                                                        <div id="placeImage">
                                                            <img class="card-img img-fluid" id="image" src="{{asset('images/placeholder.jpg')}}" alt="Card image cap" id="product-detail">
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1>{{form_row(form.Nom_article)}}</h1>
                        <p class="h3 py-2">{{form_row(form.Prix_article)}}</p>
                        <p class="py-2">
                            {% for i in 1..5 %}
                                <i class="fa fa-star 
                                    {%if loop.index <= article.etoiles %} 
                                        text-warning
                                            else  text-muted {% endif %}"> 
                                </i>
                            {% endfor %}
                            <span class="list-inline-item text-dark">Nombre d'etoiles</span>
                            <div>
                                {{form_row(form.Nombre_etoiles)}}
                            </div>
                        </p>

                        <h6>{{form_row(form.Description)}}</h6>
                        <h6>{{form_row(form.Lieu_de_Vente)}}</h6>    
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-4">
        {{form_widget(form.image_1)}}
    </div>
    <div class="text-center">
        <p class="">Si vous venez de modifier les informations du formulaire en haut cliquez sur Mettez à jour? </p>
        {% if article.estPaye==false %}
            <p class="">ou cliquez sur Terminer pour terminer votre creation</p>
        {% endif %}
        {% if img==null %}<h3 class="text-danger">Veillez soummettre au moins une image</h3>
        {% endif %}
       
        {% if article.estPaye==false %}
            <a href="{{ path('app_terminer', {id: article.id}) }}" class="btn btn-success">Terminer</a>
        {% endif %}
        <input class="btn btn-success" type="submit" value="Mettez à jour" formnovalidate >
        {% if img!=null %}
                {% if article.estPaye==true %}
                    <a href="{{ path('app_voir_article') }}" class="btn btn-light">Précédent</a>
                    <a href="{{ path('app_admin_user') }}" class="btn btn-light">Au menu</a>
                {% endif %}
        {% endif %}
    </div>
    <div class="d-flex justify-content-between col-10 text-center m-3">
         
        
    </div>
    
    {{ form_end(form)}}
    <!-- Close Content -->

    {{ include('compte_user/user_layouts/partials/_footer.html.twig') }}

    {% block javascripts %}
        <script src="{{ asset('assets/js/images.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/img.js') }}" defer></script>
    {% endblock %}

{% endblock %}